
.search{
	width: 400px;
	margin:300px auto 0;
}
.search .text{
	width: 300px;
	padding:8px 10px;
	line-height: 30px;
}
.search .submit{
	width: 70px;
	height: 50px;
	line-height: 50px;
}

/*思路样式*/
.txt{
	width: 400px;
	margin:20px auto;
}
.txt h2,.txt p{
	color: #fff;
	font-size: 22px;
	padding:5px 0;
}



/*js调用样式*/
.suggestion{
	background: #fff;
}
.suggestion ul{
	border:1px solid #fff;
}
.suggestion li{
	padding:0 10px;
	line-height: 25px;
}
.suggestion .active{
	background:#ccc;
}
